.contact{
    width: 1000px;
    
    padding: 100px;
    margin-left: 250px;
    background-color:blanchedalmond;
  border-radius: 50px;
  height:500px;
  box-shadow: 11px 12px 13px black;
margin-bottom: 30px;
}